.burger-menu .burger-icon {
  position: absolute;
  z-index: 4;
  top: 1.1em;
  right: 1.1em;
  cursor: pointer;
}

.burger-menu .burger-icon .bar1, .burger-menu .burger-icon .bar2, .burger-menu .burger-icon .bar3 {
  position: relative;
  z-index: 2;
  width: 25px;
  height: 3px;
  background-color: var(--burger-icon-color);
  -webkit-border-radius: 2em;
     -moz-border-radius: 2em;
          border-radius: 2em;
  margin: 4px 0;
  -webkit-transition: .2s ease-in, background-color .3s ease-out;
  -o-transition: .2s ease-in, background-color .3s ease-out;
  -moz-transition: .2s ease-in, background-color .3s ease-out;
  transition: .2s ease-in, background-color .3s ease-out;
}

.burger-menu .burger-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 3;
  top: 0;
  right: -1em;
  width: 18em;
  height: 100vh;
  background-color: var(--burger-panel-bg-color);
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out, -moz-transform .3s ease-in-out, -o-transform .3s ease-in-out;
  font-size: 1em;
  -webkit-box-shadow: var(--burger-panel-shadow);
     -moz-box-shadow: var(--burger-panel-shadow);
          box-shadow: var(--burger-panel-shadow);
}

.burger-menu .burger-panel .options {
  position: relative;
  padding: 1.5em;
  top: 4em;
}

.burger-menu .burger-panel .options .options-container {
  position: relative;
  padding: 3em 1.5em;
}

.burger-menu .burger-panel .options .options-container .theme-options, .burger-menu .burger-panel .options .options-container .unit-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.burger-menu .burger-panel .options .title {
  font-size: 1em;
  margin: 0;
  padding-left: 1em;
}

.burger-menu .burger-panel .options p {
  padding: .5em;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: var(--burger-panel-text-color);
}

.burger-menu .burger-panel footer {
  display: inherit;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1em;
}

.burger-menu .burger-panel footer ul {
  padding: 0;
  margin: 0;
}

.burger-menu .burger-panel footer ul li {
  list-style-type: none;
}

.burger-menu .burger-panel footer ul li i {
  font-size: 1.2em;
}

.burger-menu .burger-panel footer a {
  text-decoration: none;
  padding: .5em;
  color: var(--burger-panel-text-color);
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.burger-menu .burger-panel footer #github-link {
  padding-left: .4em;
}

.burger-menu .open-close {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}

.burger-menu .active {
  color: var(--burger-panel-text-color-active) !important;
  background-color: var(--burger-panel-btn-bg-color-active);
  -webkit-border-radius: .2em;
     -moz-border-radius: .2em;
          border-radius: .2em;
}

.change .bar1 {
  -webkit-transform: rotate(45deg) translate(3px, 7px);
     -moz-transform: rotate(45deg) translate(3px, 7px);
      -ms-transform: rotate(45deg) translate(3px, 7px);
       -o-transform: rotate(45deg) translate(3px, 7px);
          transform: rotate(45deg) translate(3px, 7px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(-45deg) translate(3px, -7px);
     -moz-transform: rotate(-45deg) translate(3px, -7px);
      -ms-transform: rotate(-45deg) translate(3px, -7px);
       -o-transform: rotate(-45deg) translate(3px, -7px);
          transform: rotate(-45deg) translate(3px, -7px);
}

.buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2em;
  cursor: pointer;
}

.buttons #apply-btn, .buttons #cancel-btn {
  padding: .7em;
  -webkit-border-radius: .3em;
     -moz-border-radius: .3em;
          border-radius: .3em;
  color: var(--burger-panel-text-color-active);
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.buttons #apply-btn {
  background-color: var(--burger-panel-btn-bg-color-active);
}

.disabled {
  opacity: .45;
  background-color: transparent !important;
}

@media only screen and (min-width: 835px) {
  .burger-panel .burger-icon:hover .bar1, .burger-panel .burger-icon:hover .bar2, .burger-panel .burger-icon:hover .bar3 {
    background-color: var(--burger-icon-color-hover);
  }
  .burger-panel p:hover {
    color: var(--burger-panel-text-color);
    background-color: var(--burger-panel-btn-bg-color-active);
    -webkit-border-radius: .2em;
       -moz-border-radius: .2em;
            border-radius: .2em;
    cursor: pointer;
  }
  .burger-panel a:hover {
    color: var(--burger-panel-text-color-link-hover);
    background-color: var(--burger-panel-btn-bg-color-active);
    -webkit-border-radius: .2em;
       -moz-border-radius: .2em;
            border-radius: .2em;
  }
  .burger-panel .active:hover {
    color: var(--burger-panel-text-color-active-hover) !important;
    background-color: var(--burger-panel-btn-bg-color-active-hover) !important;
  }
  #apply-btn:hover:not(.disabled), #cancel-btn:hover:not(.disabled) {
    color: var(--burger-panel-text-color-active-hover);
    background-color: var(--burger-panel-btn-bg-color-active-hover);
  }
}
/*# sourceMappingURL=burger.css.map */