@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
html, body {
  position: relative;
  overflow-x: hidden;
}

html[data-theme="dark"] body {
  --bg: #131218;
  --bg-desktop: #1c1c22;
  --text-color-main: white;
  --text-color-weather-description: rgb(145, 145, 145);
  --main-panel-bg-color: rgba(20, 19, 20, 0.973);
  --weekday-text-color: #ffffff62;
  --forecast-card-bg-color: rgba(124, 120, 124, 0.100);
  --burger-icon-color: #474750;
  --burger-icon-color-hover: #5c5c63;
  --burger-panel-text-color: rgb(151, 151, 151);
  --burger-panel-text-color-active: #cecece;
  --burger-panel-text-color-active-hover: #ebebeb;
  --burger-panel-btn-bg-color-active: #bfc8d03a;
  --burger-panel-btn-bg-color-active-hover: rgba(191, 200, 208, 0.390);
  --burger-panel-bg-color: rgb(19, 17, 19);
  --preloader-bg-color: #1f1f22;
  --burger-panel-shadow: 0px 10px 13px -7px #000000, 4px 3px 7px 4px rgba(0, 0, 0, 0.123);
  --preloader-circle-bg-color: rgba(124, 120, 124, 0.400);
  --box-shadow-color: #0a0a0cef;
  --box-shadow-color-alt: #0a0a0c27;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  height: 100vh;
  min-height: 600px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg);
  color: var(--text-color-main);
  -webkit-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
  --bg: #f9fbfd;
  --bg-desktop: #eff1f3;
  --text-color-main: #6b727a;
  --text-color-weather-description: #aab5be;
  --main-panel-bg-color: #fff;
  --weekday-text-color: #aab5be;
  --forecast-card-bg-color: #fff;
  --burger-icon-color: #bfc8d0;
  --burger-icon-color-hover: #8394a3;
  --burger-panel-text-color: #8999a5;
  --burger-panel-text-color-active: grey;
  --burger-panel-text-color-active-hover: rgb(51, 51, 51);
  --burger-panel-btn-bg-color-active: #bfc8d04d;
  --burger-panel-btn-bg-color-active-hover: #bfc8d0bb;
  --burger-panel-bg-color: #fff;
  --burger-panel-shadow: 0px 10px 13px -7px #0000001e, 3px 14px 50px 0px rgba(0,0,0,0.05);
  --preloader-bg-color: #f9fbfd;
  --preloader-circle-bg-color: #d6dee7;
  --box-shadow-color: #d2d6df;
  --box-shadow-color-alt: #d2d6dfa4;
}

.main-panel, .forecast {
  -webkit-transition: -webkit-filter 1s linear;
  transition: -webkit-filter 1s linear;
  -o-transition: filter 1s linear;
  -moz-transition: filter 1s linear;
  transition: filter 1s linear;
  transition: filter 1s linear, -webkit-filter 1s linear;
}

.main-panel {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-panel #main-icon {
  padding: 4em;
}

.main-panel #location {
  font-size: 1.5em;
}

.main-panel #location, .main-panel .weather-info {
  text-align: center;
}

.main-panel .weather-info {
  max-width: 350px;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
     -moz-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.main-panel .weather-info #temperature {
  font-family: 'Inconsolata', monospace;
  font-size: 1.6em;
}

.main-panel .weather-info #temperature-description {
  padding: .6em;
  font-size: 1.1em;
  color: var(--text-color-weather-description);
}

.main-panel .weather-info .alt-weather-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin: auto;
  width: 98px;
}

.main-panel .weather-info .wind-direction, .main-panel .weather-info .rain-volume {
  padding: .7em;
  letter-spacing: 2px;
  font-size: .8em;
}

.main-panel .weather-info .unit {
  padding: 0;
  opacity: .3;
}

.forecast {
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  max-width: 420px;
  width: 90vw;
  font-size: 1.1em;
}

.forecast .weekday {
  color: var(--weekday-text-color);
  padding-bottom: 1em;
  font-size: .8em;
}

.forecast .forecast-card {
  padding: 1em;
}

.forecast .forecast-card .temperature-alt {
  font-family: 'Inconsolata', monospace;
}

.forecast .forecast-card .forecast-icon {
  width: 1.9em;
  margin-top: 1em;
}

@media only screen and (min-width: 835px) {
  body {
    background-color: var(--bg-desktop);
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main-panel {
    position: relative;
    display: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-top: 10em;
    max-width: 900px;
    min-height: 240px;
    min-width: 800px;
    -webkit-border-radius: .3em;
       -moz-border-radius: .3em;
            border-radius: .3em;
    word-break: break-word;
    background-color: var(--main-panel-bg-color);
    -webkit-box-shadow: 0px 10px 13px -13px var(--box-shadow-color), 5px 5px 15px 5px rgba(0, 0, 0, 0);
       -moz-box-shadow: 0px 10px 13px -13px var(--box-shadow-color), 5px 5px 15px 5px rgba(0, 0, 0, 0);
            box-shadow: 0px 10px 13px -13px var(--box-shadow-color), 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
  .main-panel #main-icon {
    padding: 0;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
       -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .main-panel #location, .main-panel #main-icon, .main-panel .weather-info {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
  .main-panel .weather-info {
    max-width: 270px;
  }
  .forecast {
    max-width: 600px;
    padding-top: 3.5em;
  }
  .forecast .forecast-card {
    background-color: var(--forecast-card-bg-color);
    padding: 1.4em 2em 1.4em 2em;
    -webkit-border-radius: .3em;
       -moz-border-radius: .3em;
            border-radius: .3em;
    -webkit-box-shadow: 0px 10px 13px -13px var(--box-shadow-color-alt), 5px 5px 15px 5px rgba(0, 0, 0, 0);
       -moz-box-shadow: 0px 10px 13px -13px var(--box-shadow-color-alt), 5px 5px 15px 5px rgba(0, 0, 0, 0);
            box-shadow: 0px 10px 13px -13px var(--box-shadow-color-alt), 5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}

::-moz-selection {
  color: white;
  background: lightgrey;
}

::selection {
  color: white;
  background: lightgrey;
}

.degree::after {
  content: '°';
}

.fade-out-content {
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

.delay-025 {
  -webkit-animation-delay: .25s;
     -moz-animation-delay: .25s;
       -o-animation-delay: .25s;
          animation-delay: .25s;
}

.delay-050 {
  -webkit-animation-delay: .50s;
     -moz-animation-delay: .50s;
       -o-animation-delay: .50s;
          animation-delay: .50s;
}

.delay-075 {
  -webkit-animation-delay: .75s;
     -moz-animation-delay: .75s;
       -o-animation-delay: .75s;
          animation-delay: .75s;
}

.delay-100 {
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
       -o-animation-delay: 1s;
          animation-delay: 1s;
}
/*# sourceMappingURL=main.css.map */