@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
html, body {
  position: relative;
  overflow-x: hidden;
}

html[data-theme="dark"] body {
  --bg: #272527;
  --text-color-main: white;
  --text-color-weather-description: rgb(145, 145, 145);
  --main-panel-bg-color: rgb(29, 27, 29);
  --weekday-text-color: #ffffff62;
  --forecast-card-bg-color: rgba(124, 120, 124, 0.100);
  --fade-color: #222022;
  --burger-icon-color: rgb(68, 65, 68);
  --burger-icon-color-hover: rgb(105, 100, 105);
  --burger-panel-text-color: rgb(145, 145, 145);
  --burger-panel-text-color-hover: #ff6768;
  --burger-panel-text-color-active: white;
  --burger-panel-bg-color-active: #bfc8d049;
  --burger-panel-bg-color: #161516;
  --preloader-bg-color: #272527;
}

html[data-theme="dark"] .main-panel {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg);
  color: var(--text-color-main);
  -webkit-transition: background-color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  --bg: #fcfbff;
  --text-color-main: #606e79;
  --text-color-weather-description: rgb(143, 143, 143);
  --main-panel-bg-color: #ffffff48;
  --weekday-text-color: #a3afb8;
  --forecast-card-bg-color: #a7b4bd21;
  --fade-color: #e5e4e6;
  --burger-icon-color: #bfc8d0;
  --burger-icon-color-hover: #606e79;
  --burger-panel-text-color: #606e79;
  --burger-panel-text-color-hover: #ff6768;
  --burger-panel-text-color-active: grey;
  --burger-panel-bg-color-active: #bfc8d049;
  --burger-panel-bg-color: #f8f7fd;
  --preloader-bg-color: #f6f5fa;
}

.main-panel {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-panel #main-icon {
  padding: 4em;
}

.main-panel #location {
  font-size: 1.5em;
}

.main-panel #location, .main-panel .weather-info {
  text-align: center;
}

.main-panel .weather-info {
  max-width: 350px;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
     -moz-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.main-panel .weather-info #temperature {
  font-family: 'Inconsolata', monospace;
  font-size: 1.5em;
}

.main-panel .weather-info #temperature-description {
  padding: .6em;
  font-size: .9em;
  color: var(--text-color-weather-description);
}

.forecast {
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  max-width: 420px;
  width: 90vw;
  font-size: 1.1em;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
}

.forecast .weekday {
  color: var(--weekday-text-color);
  padding-bottom: 1em;
  font-size: .8em;
}

.forecast .forecast-card {
  padding: 1em;
}

.forecast .forecast-card .temperature-alt {
  font-family: 'Inconsolata', monospace;
}

.forecast .forecast-card .forecast-icon {
  width: 1.9em;
  margin-top: 1em;
  opacity: .8;
}

.degree::after {
  content: '°';
}

.fade {
  background-color: var(--fade-color);
}

.delay-025 {
  -webkit-animation-delay: .25s;
  -moz-animation-delay: .25s;
    -o-animation-delay: .25s;
       animation-delay: .25s;
}

.delay-050 {
  -webkit-animation-delay: .50s;
  -moz-animation-delay: .50s;
    -o-animation-delay: .50s;
       animation-delay: .50s;
}

.delay-075 {
  -webkit-animation-delay: .75s;
  -moz-animation-delay: .75s;
    -o-animation-delay: .75s;
       animation-delay: .75s;
}

.delay-100 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
       animation-delay: 1s;
}

@media only screen and (min-width: 835px) {
  body {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main-panel {
    position: relative;
    display: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-top: 10em;
    max-width: 900px;
    min-height: 240px;
    min-width: 800px;
    -webkit-border-radius: .3em;
       -moz-border-radius: .3em;
            border-radius: .3em;
    word-break: break-word;
    background-color: var(--main-panel-bg-color);
    -webkit-box-shadow: 0px 60px 125px 0px rgba(0, 0, 0, 0.07);
       -moz-box-shadow: 0px 60px 125px 0px rgba(0, 0, 0, 0.07);
            box-shadow: 0px 60px 125px 0px rgba(0, 0, 0, 0.07);
  }
  .main-panel #main-icon {
    padding: 0;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
       -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .main-panel #location, .main-panel #main-icon, .main-panel .weather-info {
    -ms-grid-row-align: center;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .main-panel .weather-info {
    max-width: 270px;
  }
  .forecast {
    max-width: 600px;
    padding-top: 3.5em;
  }
  .forecast .forecast-card {
    background-color: var(--forecast-card-bg-color);
    -webkit-transition: background-color .4s ease-in;
    -o-transition: background-color .4s ease-in;
    -moz-transition: background-color .4s ease-in;
    transition: background-color .4s ease-in;
    padding: 1.4em 2em 1.4em 2em;
    -webkit-border-radius: .3em;
       -moz-border-radius: .3em;
            border-radius: .3em;
  }
  .hidden, .visible {
    -webkit-transition: opacity .4s ease-in;
    -o-transition: opacity .4s ease-in;
    -moz-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
  }
  .hidden {
    opacity: 0;
  }
  .visible {
    opacity: 1;
  }
  .fade-in-opacity {
    opacity: .7;
  }
}
/*# sourceMappingURL=main.css.map */